Imports

In [5]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import os
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import re
import json
from inspect import currentframe, getframeinfo

Read in provided CSVs - I didn't end up using the tsv files so I commented out their import lines

In [6]:
data_imports = {}

# Importing all the provided CSVs and TSVs to a dictionary
for file in os.listdir("zippedData"):
    print(file)
    if file[-3:] == 'csv':
        data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file))
    elif file[-3:] == 'tsv':
        data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file), sep = '\t')

print("Finished import")

bom.movie_gross.csv
name.basics.csv
rt.movie_info.tsv
rt.reviews.tsv
title.akas.csv
title.basics.csv
title.crew.csv
title.principals.csv
title.ratings.csv
tmdb.movies.csv
tn.movie_budgets.csv
Finished import

Starting with Bom.Movie_Gross, I want to set the title column as the index if possible so first I check to make sure there are no duplicated titles.

In [12]:
bom_movie_gross = data_imports['bom.movie_gross']
bom_movie_gross[bom_movie_gross['title'].duplicated(keep=False)]

          title  studio  domestic_gross foreign_gross  year
317   Bluebeard  Strand         33500.0          5200  2010
3045  Bluebeard   WGUSA         43100.0           NaN  2017

It turns out that there are two movies named <em>Bluebeard</em>. To fix this we'll append their release years to the title.

In [13]:
for each in bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard'), 'year']:
    bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard') &
                        (bom_movie_gross.year == each), 'title'] = 'Bluebeard' + ' (' + str(each) + ')'
bom_movie_gross = bom_movie_gross.set_index('title')

## In an effort to explore the data, we'll merge title.basics with title.ratings into imdb_df

In [15]:
title_basics = data_imports['title.basics']
title_ratings = data_imports['title.ratings']

title_basics = title_basics.set_index('tconst')
title_ratings = title_ratings.set_index('tconst')
imdb_df = title_basics.join(title_ratings, on='tconst')

## Merge imdb_df with tmdb.movies

In [17]:
tmdb_movies = data_imports['tmdb.movies']
tmdb_movies = tmdb_movies.drop_duplicates(subset = ['id'])
tmdb_movies['start_year'] = tmdb_movies['release_date'].apply(lambda x: int(x[:4]))
tmdb_movies = tmdb_movies.set_index(['start_year', 'title'])
tmdb_movies.head()

/home/stonehengee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

                                                         Unnamed: 0  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           0
           How to Train Your Dragon                               1
           Iron Man 2                                             2
1995       Toy Story                                              3
2010       Inception                                              4

                                                                   genre_ids  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      [12, 14, 10751]
           How to Train Your Dragon                      [14, 12, 16, 10751]
           Iron Man 2                                          [12, 28, 878]
1995       Toy Story                                         [16, 35, 10751]
2010       Inception                                           [28, 878, 12]

                                                            id  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  12444
           How to Train Your Dragon                      10191
           Iron Man 2                                    10138
1995       Toy Story                                       862
2010       Inception                                     27205

                                                        original_language  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1                en
           How to Train Your Dragon                                    en
           Iron Man 2                                                  en
1995       Toy Story                                                   en
2010       Inception                                                   en

                                                                                       original_title  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  Harry Potter and the Deathly Hallows: Part 1
           How to Train Your Dragon                                          How to Train Your Dragon
           Iron Man 2                                                                      Iron Man 2
1995       Toy Story                                                                        Toy Story
2010       Inception                                                                        Inception

                                                         popularity  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      33.533
           How to Train Your Dragon                          28.734
           Iron Man 2                                        28.515
1995       Toy Story                                         28.005
2010       Inception                                         27.920

                                                        release_date  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1   2010-11-19
           How to Train Your Dragon                       2010-03-26
           Iron Man 2                                     2010-05-07
1995       Toy Story                                      1995-11-22
2010       Inception                                      2010-07-16

                                                         vote_average  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           7.7
           How to Train Your Dragon                               7.7
           Iron Man 2                                             6.8
1995       Toy Story                                              7.9
2010       Inception                                              8.3

                                                         vote_count
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1       10788
           How to Train Your Dragon                            7610
           Iron Man 2                                         12368
1995       Toy Story                                          10174
2010       Inception                                          22186