* pull in data
* combine sources into one df?
* run analytical functions
    * info
    * describe
    * mean
    * mode
    * value_counts
    * std
    * [corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html)
    * duplicated

Perhaps time of shooting/ even popular movies during certain times of the year visualizations

runtime? genre? budget how to spend on the movie? expected crew size? (tn.moviebudgets) time of the year realease?

critical ratings

actors/crew

find what profit is most closely linked to - critical raitings? genre? release date? actors?


use tmdb.movies for genre, language, release date. replace vote_average and vote_count with numbers from title.ratings (imdb source)

    join title.basics with title.ratings DONE
    
    join ^^^ with tmdb.movies, replacing movie ratings columns (oy)
    
    
    DOWN THE LINE
    
    join title.basics with title.crew, title.principals, name.basics to look at relationship between profitability and principal/crew presence
        this would have to involve a multilevel index

In [86]:
import numpy as np
import matplotlib.pyplot as pt
import pandas as pd
%matplotlib inline
import os

In [87]:
data_imports = {}

for file in os.listdir("zippedData"):
    print(file)
    if file[-3:] == 'csv':
        data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file))
#     elif file[-3:] == 'tsv':
#         data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file), sep = '\t')


print("Finished import")

bom.movie_gross.csv
name.basics.csv
rt.movie_info.tsv
rt.reviews.tsv
title.akas.csv
title.basics.csv
title.crew.csv
title.principals.csv
title.ratings.csv
tmdb.movies.csv
tn.movie_budgets.csv
Finished import

# Cleanup Bom.Movie_Gross

In [88]:
bom_movie_gross = data_imports['bom.movie_gross']

for each in bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard'), 'year']:
    bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard') &
                        (bom_movie_gross.year == each), 'title'] = 'Bluebeard' + ' (' + str(each) + ')'
bom_movie_gross = bom_movie_gross.set_index('title')

In [89]:
bom_movie_gross.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010

# Merge title.basics with title.ratings into imdb_df

In [90]:
title_basics = data_imports['title.basics']
title_ratings = data_imports['title.ratings']

title_basics = title_basics.set_index('tconst')
title_ratings = title_ratings.set_index('tconst')
imdb_df = title_basics.join(title_ratings, on='tconst')

# Merge imdb_df with tmdb.movies

In [91]:
tmdb_movies = data_imports['tmdb.movies']
tmdb_movies = tmdb_movies.drop_duplicates(subset = ['id'])
# imdb_df.join(tmdb_movies on = 'primary_title')

In [92]:
tmdb_movies.head()
# imdb_df.reset_index()
imdb_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

In [93]:
test_df = pd.DataFrame(tmdb_movies, index=[tmdb_movies['release_date'], tmdb_movies['title']])
tmdb_movies['start_year'] = tmdb_movies['release_date'].apply(lambda x: int(x[:4]))
test_df = tmdb_movies.set_index(['start_year', 'title'])
test_df.head()

/home/stonehengee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                                         Unnamed: 0  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           0
           How to Train Your Dragon                               1
           Iron Man 2                                             2
1995       Toy Story                                              3
2010       Inception                                              4

                                                                   genre_ids  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      [12, 14, 10751]
           How to Train Your Dragon                      [14, 12, 16, 10751]
           Iron Man 2                                          [12, 28, 878]
1995       Toy Story                                         [16, 35, 10751]
2010       Inception                                           [28, 878, 12]

                                                            id  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  12444
           How to Train Your Dragon                      10191
           Iron Man 2                                    10138
1995       Toy Story                                       862
2010       Inception                                     27205

                                                        original_language  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1                en
           How to Train Your Dragon                                    en
           Iron Man 2                                                  en
1995       Toy Story                                                   en
2010       Inception                                                   en

                                                                                       original_title  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  Harry Potter and the Deathly Hallows: Part 1
           How to Train Your Dragon                                          How to Train Your Dragon
           Iron Man 2                                                                      Iron Man 2
1995       Toy Story                                                                        Toy Story
2010       Inception                                                                        Inception

                                                         popularity  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      33.533
           How to Train Your Dragon                          28.734
           Iron Man 2                                        28.515
1995       Toy Story                                         28.005
2010       Inception                                         27.920

                                                        release_date  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1   2010-11-19
           How to Train Your Dragon                       2010-03-26
           Iron Man 2                                     2010-05-07
1995       Toy Story                                      1995-11-22
2010       Inception                                      2010-07-16

                                                         vote_average  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           7.7
           How to Train Your Dragon                               7.7
           Iron Man 2                                             6.8
1995       Toy Story                                              7.9
2010       Inception                                              8.3

                                                         vote_count
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1       10788
           How to Train Your Dragon                            7610
           Iron Man 2                                         12368
1995       Toy Story                                          10174
2010       Inception                                          22186

In [94]:
imdb_df = imdb_df.rename(columns = {'primary_title': "title"})
imdb_df = imdb_df.reset_index()
# test_df.index[0][:]

# Reset working_df

In [101]:
working_df = imdb_df.set_index(['start_year', 'title']).join(test_df, how='inner', lsuffix='_imdb', rsuffix='_mvdb')


working_df = working_df.drop(columns=['Unnamed: 0', 'vote_average', 'vote_count', 'popularity', 'genre_ids', 'id'])
working_df = working_df.fillna(value = {'genres': 'Unknown'})

working_df.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date
start_year title
2010       * Cemetery        2010-01-01
           127 Hours         2010-11-05
           12th & Delaware   2010-04-01
           13                2010-03-12
           14 Blades         2010-02-04

# Split 'genre' column into genre1, genre2, genre3

In [102]:
comma_counter = 0

for each in working_df['genres']:
    if type(each) == str:
        current_count = each.count(',')
        if current_count > comma_counter:
            comma_counter = current_count
    
comma_counter

2

## replacing NaN with "Unknown"

In [103]:
working_df = working_df.fillna(value = {'genres': 'Unknown'})

## splitting working_df into paralell dataframes, one where genres are split into individual strings, and the other in which its converted into a list

creates working_df_3g while preserving working_df

In [104]:
working_df_3g = pd.DataFrame(working_df)
working_df_3g[['genre1', 'genre2', 'genre3']] = working_df['genres'].str.split(',', expand=True)

working_df = working_df.drop(columns = ['genre1', 'genre2', 'genre3'])
working_df_3g.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date       genre1     genre2    genre3
start_year title
2010       * Cemetery        2010-01-01       Comedy     Horror  Thriller
           127 Hours         2010-11-05    Adventure  Biography     Drama
           12th & Delaware   2010-04-01  Documentary      Drama      None
           13                2010-03-12        Drama   Thriller      None
           14 Blades         2010-02-04       Action    History  Thriller

creates working_df_glist (Later?)

In [105]:
working_df.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date
start_year title
2010       * Cemetery        2010-01-01
           127 Hours         2010-11-05
           12th & Delaware   2010-04-01
           13                2010-03-12
           14 Blades         2010-02-04