* pull in data
* combine sources into one df?
* run analytical functions
    * info
    * describe
    * mean
    * mode
    * value_counts
    * std
    * [corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html)
    * duplicated

Perhaps time of shooting/ even popular movies during certain times of the year visualizations

runtime? genre? budget how to spend on the movie? expected crew size? (tn.moviebudgets) time of the year realease?

critical ratings

actors/crew

find what profit is most closely linked to - critical raitings? genre? release date? actors?


use tmdb.movies for genre, language, release date. replace vote_average and vote_count with numbers from title.ratings (imdb source)

    join title.basics with title.ratings DONE
    
    join ^^^ with tmdb.movies, replacing movie ratings columns (oy)
    
    
    DOWN THE LINE
    
    join title.basics with title.crew, title.principals, name.basics to look at relationship between profitability and principal/crew presence
        this would have to involve a multilevel index

In [2]:
import numpy as np
import matplotlib.pyplot as pt
import pandas as pd
%matplotlib inline
import os

In [3]:
data_imports = {}

for file in os.listdir("zippedData"):
    print(file)
    if file[-3:] == 'csv':
        data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file))
#     elif file[-3:] == 'tsv':
#         data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file), sep = '\t')


print("Finished import")

bom.movie_gross.csv
name.basics.csv
rt.movie_info.tsv
rt.reviews.tsv
title.akas.csv
title.basics.csv
title.crew.csv
title.principals.csv
title.ratings.csv
tmdb.movies.csv
tn.movie_budgets.csv
Finished import

# Cleanup Bom.Movie_Gross

In [4]:
bom_movie_gross = data_imports['bom.movie_gross']

for each in bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard'), 'year']:
    bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard') &
                        (bom_movie_gross.year == each), 'title'] = 'Bluebeard' + ' (' + str(each) + ')'
bom_movie_gross = bom_movie_gross.set_index('title')

In [5]:
bom_movie_gross.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010

# Merge title.basics with title.ratings into imdb_df

In [6]:
title_basics = data_imports['title.basics']
title_ratings = data_imports['title.ratings']

title_basics = title_basics.set_index('tconst')
title_ratings = title_ratings.set_index('tconst')
imdb_df = title_basics.join(title_ratings, on='tconst')

# Merge imdb_df with tmdb.movies

In [15]:
tmdb_movies = data_imports['tmdb.movies']
tmdb_movies = tmdb_movies.drop_duplicates(subset = ['id'])
# imdb_df.join(tmdb_movies on = 'primary_title')

In [32]:
tmdb_movies.head()
imdb_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

In [24]:
arrays = [
        np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),
        np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),]
s = pd.Series(np.random.randn(8), index=arrays)

In [26]:
type(s)

pandas.core.series.Series

In [37]:
# test_df = pd.DataFrame(tmdb_movies, index=[tmdb_movies['release_date'], tmdb_movies['title']])
tmdb_movies['start_year'] = tmdb_movies['release_date'].apply(lambda x: x[:4])
test_df = tmdb_movies.set_index(['start_year', 'title'])
test_df.head()

/home/stonehengee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                                         Unnamed: 0  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           0
           How to Train Your Dragon                               1
           Iron Man 2                                             2
1995       Toy Story                                              3
2010       Inception                                              4

                                                                   genre_ids  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      [12, 14, 10751]
           How to Train Your Dragon                      [14, 12, 16, 10751]
           Iron Man 2                                          [12, 28, 878]
1995       Toy Story                                         [16, 35, 10751]
2010       Inception                                           [28, 878, 12]

                                                            id  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  12444
           How to Train Your Dragon                      10191
           Iron Man 2                                    10138
1995       Toy Story                                       862
2010       Inception                                     27205

                                                        original_language  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1                en
           How to Train Your Dragon                                    en
           Iron Man 2                                                  en
1995       Toy Story                                                   en
2010       Inception                                                   en

                                                                                       original_title  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  Harry Potter and the Deathly Hallows: Part 1
           How to Train Your Dragon                                          How to Train Your Dragon
           Iron Man 2                                                                      Iron Man 2
1995       Toy Story                                                                        Toy Story
2010       Inception                                                                        Inception

                                                         popularity  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      33.533
           How to Train Your Dragon                          28.734
           Iron Man 2                                        28.515
1995       Toy Story                                         28.005
2010       Inception                                         27.920

                                                        release_date  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1   2010-11-19
           How to Train Your Dragon                       2010-03-26
           Iron Man 2                                     2010-05-07
1995       Toy Story                                      1995-11-22
2010       Inception                                      2010-07-16

                                                         vote_average  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           7.7
           How to Train Your Dragon                               7.7
           Iron Man 2                                             6.8
1995       Toy Story                                              7.9
2010       Inception                                              8.3

                                                         vote_count
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1       10788
           How to Train Your Dragon                            7610
           Iron Man 2                                         12368
1995       Toy Story                                          10174
2010       Inception                                          22186