* pull in data
* combine sources into one df?
* run analytical functions
    * info
    * describe
    * mean
    * mode
    * value_counts
    * std
    * [corr](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corr.html)
    * duplicated

Perhaps time of shooting/ even popular movies during certain times of the year visualizations

runtime? genre? budget how to spend on the movie? expected crew size? (tn.moviebudgets) time of the year realease?

critical ratings

actors/crew

find what profit is most closely linked to - critical raitings? genre? release date? actors?


use tmdb.movies for genre, language, release date. replace vote_average and vote_count with numbers from title.ratings (imdb source)

    join title.basics with title.ratings DONE
    
    join ^^^ with tmdb.movies, replacing movie ratings columns (oy)
    
    
    DOWN THE LINE
    
    join title.basics with title.crew, title.principals, name.basics to look at relationship between profitability and principal/crew presence
        this would have to involve a multilevel index

In [1]:
import numpy as np
import matplotlib.pyplot as pt
import pandas as pd
%matplotlib inline
import os

In [2]:
data_imports = {}

for file in os.listdir("zippedData"):
    print(file)
    if file[-3:] == 'csv':
        data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file))
#     elif file[-3:] == 'tsv':
#         data_imports[file[:-4]] = pd.read_csv('zippedData/' + str(file), sep = '\t')


print("Finished import")

tmdb.movies.csv
title.crew.csv
title.basics.csv
rt.reviews.tsv
tn.movie_budgets.csv
name.basics.csv
title.akas.csv
bom.movie_gross.csv
rt.movie_info.tsv
title.principals.csv
title.ratings.csv
Finished import

# Cleanup Bom.Movie_Gross

In [3]:
bom_movie_gross = data_imports['bom.movie_gross']

for each in bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard'), 'year']:
    bom_movie_gross.loc[(bom_movie_gross.title == 'Bluebeard') &
                        (bom_movie_gross.year == each), 'title'] = 'Bluebeard' + ' (' + str(each) + ')'
bom_movie_gross = bom_movie_gross.set_index('title')

In [4]:
bom_movie_gross.head()

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010

# Merge title.basics with title.ratings into imdb_df

In [5]:
title_basics = data_imports['title.basics']
title_ratings = data_imports['title.ratings']

title_basics = title_basics.set_index('tconst')
title_ratings = title_ratings.set_index('tconst')
imdb_df = title_basics.join(title_ratings, on='tconst')

# Merge imdb_df with tmdb.movies

In [6]:
tmdb_movies = data_imports['tmdb.movies']
tmdb_movies = tmdb_movies.drop_duplicates(subset = ['id'])
# imdb_df.join(tmdb_movies on = 'primary_title')

In [7]:
tmdb_movies.head()
# imdb_df.reset_index()
imdb_df.head()

,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes
tconst,,,,,,,
tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77.0
tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",7.2,43.0
tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517.0
tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",6.1,13.0
tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",6.5,119.0

In [8]:
test_df = pd.DataFrame(tmdb_movies, index=[tmdb_movies['release_date'], tmdb_movies['title']])
tmdb_movies['start_year'] = tmdb_movies['release_date'].apply(lambda x: int(x[:4]))
test_df = tmdb_movies.set_index(['start_year', 'title'])
test_df.head()

<ipython-input-8-5f333f93dcb8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmdb_movies['start_year'] = tmdb_movies['release_date'].apply(lambda x: int(x[:4]))

                                                         Unnamed: 0  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           0
           How to Train Your Dragon                               1
           Iron Man 2                                             2
1995       Toy Story                                              3
2010       Inception                                              4

                                                                   genre_ids  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      [12, 14, 10751]
           How to Train Your Dragon                      [14, 12, 16, 10751]
           Iron Man 2                                          [12, 28, 878]
1995       Toy Story                                         [16, 35, 10751]
2010       Inception                                           [28, 878, 12]

                                                            id  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  12444
           How to Train Your Dragon                      10191
           Iron Man 2                                    10138
1995       Toy Story                                       862
2010       Inception                                     27205

                                                        original_language  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1                en
           How to Train Your Dragon                                    en
           Iron Man 2                                                  en
1995       Toy Story                                                   en
2010       Inception                                                   en

                                                                                       original_title  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1  Harry Potter and the Deathly Hallows: Part 1
           How to Train Your Dragon                                          How to Train Your Dragon
           Iron Man 2                                                                      Iron Man 2
1995       Toy Story                                                                        Toy Story
2010       Inception                                                                        Inception

                                                         popularity  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1      33.533
           How to Train Your Dragon                          28.734
           Iron Man 2                                        28.515
1995       Toy Story                                         28.005
2010       Inception                                         27.920

                                                        release_date  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1   2010-11-19
           How to Train Your Dragon                       2010-03-26
           Iron Man 2                                     2010-05-07
1995       Toy Story                                      1995-11-22
2010       Inception                                      2010-07-16

                                                         vote_average  \
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1           7.7
           How to Train Your Dragon                               7.7
           Iron Man 2                                             6.8
1995       Toy Story                                              7.9
2010       Inception                                              8.3

                                                         vote_count
start_year title
2010       Harry Potter and the Deathly Hallows: Part 1       10788
           How to Train Your Dragon                            7610
           Iron Man 2                                         12368
1995       Toy Story                                          10174
2010       Inception                                          22186

In [9]:
imdb_df = imdb_df.rename(columns = {'primary_title': "title"})
imdb_df = imdb_df.reset_index()
# test_df.index[0][:]

# Reset working_df

In [10]:
working_df = imdb_df.set_index(['start_year', 'title']).join(test_df, how='inner', lsuffix='_imdb', rsuffix='_mvdb')


working_df = working_df.drop(columns=['Unnamed: 0', 'vote_average', 'vote_count', 'popularity', 'genre_ids', 'id'])
working_df = working_df.fillna(value = {'genres': 'Unknown'})

working_df.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date
start_year title
2010       * Cemetery        2010-01-01
           127 Hours         2010-11-05
           12th & Delaware   2010-04-01
           13                2010-03-12
           14 Blades         2010-02-04

# Split 'genre' column into genre1, genre2, genre3

In [11]:
comma_counter = 0

for each in working_df['genres']:
    if type(each) == str:
        current_count = each.count(',')
        if current_count > comma_counter:
            comma_counter = current_count
    
comma_counter

2

## replacing NaN with "Unknown"

In [12]:
working_df = working_df.fillna(value = {'genres': 'Unknown'})

## splitting working_df into paralell dataframes, one where genres are split into individual strings, and the other in which its converted into a list

creates working_df_3g while preserving working_df

In [13]:
working_df_3g = pd.DataFrame(working_df)
working_df_3g[['genre1', 'genre2', 'genre3']] = working_df['genres'].str.split(',', expand=True)

working_df = working_df.drop(columns = ['genre1', 'genre2', 'genre3'])
working_df_3g.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date       genre1     genre2    genre3
start_year title
2010       * Cemetery        2010-01-01       Comedy     Horror  Thriller
           127 Hours         2010-11-05    Adventure  Biography     Drama
           12th & Delaware   2010-04-01  Documentary      Drama      None
           13                2010-03-12        Drama   Thriller      None
           14 Blades         2010-02-04       Action    History  Thriller

creates working_df_glist (Later?)

In [14]:
working_df.head()

                               tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery       tt1598691          * Cemetery             80.0
           127 Hours        tt1542344           127 Hours             94.0
           12th & Delaware  tt1548865     12th & Delaware             81.0
           13               tt0798817                  13             91.0
           14 Blades        tt1442571          Jin yi wei            114.0

                                               genres  averagerating  \
start_year title
2010       * Cemetery          Comedy,Horror,Thriller            5.2
           127 Hours        Adventure,Biography,Drama            7.6
           12th & Delaware          Documentary,Drama            7.5
           13                          Drama,Thriller            6.1
           14 Blades          Action,History,Thriller            6.4

                            numvotes original_language original_title_mvdb  \
start_year title
2010       * Cemetery           17.0                en          * Cemetery
           127 Hours        323949.0                en           127 Hours
           12th & Delaware     407.0                en     12th & Delaware
           13                38418.0                en                  13
           14 Blades          7100.0                zh                 錦衣衛

                           release_date
start_year title
2010       * Cemetery        2010-01-01
           127 Hours         2010-11-05
           12th & Delaware   2010-04-01
           13                2010-03-12
           14 Blades         2010-02-04

In [15]:
working_df_3g.drop(columns = ['genres'])

                                tconst original_title_imdb  runtime_minutes  \
start_year title
2010       * Cemetery        tt1598691          * Cemetery             80.0
           127 Hours         tt1542344           127 Hours             94.0
           12th & Delaware   tt1548865     12th & Delaware             81.0
           13                tt0798817                  13             91.0
           14 Blades         tt1442571          Jin yi wei            114.0
...                                ...                 ...              ...
2018       Zoe               tt6010628                 Zoe            104.0
           Zoo               tt7624934                 Zoo             95.0
           [Cargo]           tt6068554             [Cargo]             80.0
           eHero             tt3615952               eHero             85.0
2019       Ophelia          tt10084952             Ophelia              NaN

                            averagerating  numvotes original_language  \
start_year title
2010       * Cemetery                 5.2      17.0                en
           127 Hours                  7.6  323949.0                en
           12th & Delaware            7.5     407.0                en
           13                         6.1   38418.0                en
           14 Blades                  6.4    7100.0                zh
...                                   ...       ...               ...
2018       Zoe                        6.1    5422.0                en
           Zoo                        5.4     330.0                en
           [Cargo]                    3.0     311.0                en
           eHero                      6.2     419.0                en
2019       Ophelia                    NaN       NaN                en

                           original_title_mvdb release_date       genre1  \
start_year title
2010       * Cemetery               * Cemetery   2010-01-01       Comedy
           127 Hours                 127 Hours   2010-11-05    Adventure
           12th & Delaware     12th & Delaware   2010-04-01  Documentary
           13                               13   2010-03-12        Drama
           14 Blades                       錦衣衛   2010-02-04       Action
...                                        ...          ...          ...
2018       Zoe                             Zoe   2018-04-21      Romance
           Zoo                             Zoo   2018-06-08       Comedy
           [Cargo]                     [Cargo]   2018-11-13        Crime
           eHero                         eHero   2018-05-24        Drama
2019       Ophelia                     Ophelia   2019-06-28      Unknown

                               genre2    genre3
start_year title
2010       * Cemetery          Horror  Thriller
           127 Hours        Biography     Drama
           12th & Delaware      Drama      None
           13                Thriller      None
           14 Blades          History  Thriller
...                               ...       ...
2018       Zoe                 Sci-Fi      None
           Zoo                  Drama    Horror
           [Cargo]           Thriller      None
           eHero                Sport      None
2019       Ophelia               None      None

[12611 rows x 11 columns]

# Add in tn_movie_budgets

In [16]:
tn_movie_budgets = data_imports['tn.movie_budgets']

In [17]:
tn_movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [18]:
movie_titles_working = []
movie_titles_tn = []
for year, title in working_df_3g.index:
    movie_titles_working.append(title)

for title in tn_movie_budgets['movie']:
    movie_titles_tn.append(title)
    
len(set(movie_titles_working) & set(movie_titles_tn))

1582

In [19]:
working_df_3g['release_date'] = pd.to_datetime(working_df_3g['release_date'])

In [20]:
print(working_df_3g['release_date'].max())
print(tn_movie_budgets['release_date'].max())

2019-06-28 00:00:00
Sep 9, 2016

# Scraping wikipedia for production budgets

In [21]:
import requests
from bs4 import BeautifulSoup
import re
import json

In [22]:
response = requests.get(
    url="https://en.wikipedia.org/wiki/Web_scraping",
)
soup = BeautifulSoup(response.content, 'html.parser')

title = soup.find(id="firstHeading")
print(title.content)

None

In [247]:
def convert_budget_to_int(budget, release):
    
#     print(budget)
    
    symbol_dict ={
        'H': 'HKD',
        '€': 'EUR',
        '₹': 'INR'
    }
    
    if budget[0] == '<':
        budget = budget[1:]
    while '[' in budget:
        budget = budget.replace(budget[budget.index('['):budget.index(']')+1], '')
    if '–' in budget:
        budget = budget[budget.index('–')+1:]
#     print(budget, ' ' in budget)


# Using regex because for some reason ' ' would not be recognized for certain movies
    if bool(re.search(r"\s", budget)):
        whitespace_index = re.search(r"\s", budget).start()
        number = budget[:whitespace_index]
        word = budget[whitespace_index+1:]
        print(word, number)
#         number, word = budget.split(' ', 1)
#         number = 
    else:
        print('pee')
        number, word = budget, ''

    if '.' in number:
        left, right = number.split('.')
        decimal_places = len(right)
        number = number.replace('.', '')

    if 'crore' in word.lower():
        try:
            number = number + '0000000'[decimal_places:]
        except:
            number = number + '0000000'
    elif word.lower() == 'million':
        try:
            number = number + '000000'[decimal_places:]
        except:
            number = number + '000000'
#     print(word)

    if ',' in number:
        number = number.replace(',', '')

    if budget[0] != '$':
        
        currency = symbol_dict[budget[0]]
        url = "https://api.exchangeratesapi.io/{}?&base={}&symbols=USD".format(release, currency)

        response = requests.get(url = url).json()
#         print(url)
#         print(response)
#         print(number)

        number = number.replace('€', '')
        number = number.replace('₹', '')

        number = number.replace('HK$', '')

        number = int(number)
        number *= response['rates']['USD']
    elif budget[0] == '$':
        number = number.replace('$', '')
    

    
    return int(number)
    

def urlify(in_string):
    return "%20".join(in_string.split())

def wiki_search(search):
    url = "https://en.wikipedia.org/w/api.php?action=query&format=json&prop=&list=search&srsearch={}".format(urlify(search))
#     print(url)
    response= requests.get(url=url)
#     soup = BeautifulSoup(response.content)
    try:
        return(response.json()['query']['search'][0]['pageid'])
    except IndexError:
        return None

def wiki_grab(search, release):
    pageid = wiki_search(search)
    if pageid == None:
        return None
    url = 'https://en.wikipedia.org/w/api.php?action=parse&format=json&pageid={}&prop=text&formatversion=2'.format(pageid)
#     print(url)
    response = requests.get(url=url)
#     turns website into parsable "soup"
    soup = BeautifulSoup(response.json()['parse']['text'])
    
#     testcase for when net before gross
#     soup = BeautifulSoup(json.loads(open("untitled.html", "r").read())['parse']['text'])
    
#     if 'net' in soup.find(text='Budget').next.find('li', text=re.compile(r' (million)')).text:
#         print(soup.find('li', text=re.compile(r' .+(\(gross\))')))
#               .find(text='Budget').next.find('li', text=re.compile(r' (gross)')).text)
#     print(soup.find(text='Budget').next)
#     try:
#     print(str(soup))
#     print(search)
    if 'Budget</th>' in str(soup):
#         print(test)
        if soup.find(text='Budget').next.text:
    #         print('hit?')
            return convert_budget_to_int(soup.find(text='Budget').next.text, release)
        elif '(gross)' in soup.find(text='Budget').next.text:
            gross = soup.find('li', text=re.compile(r' .+(\(gross\))')).text
            gross = gross.replace(' (gross)', '')
            gross = convert_budget_to_int(gross, release)
            return(gross)
        elif re.compile(r' \d') in soup.find(text='Budget').next.li.text:
            return(soup.find('li', text=re.compile(r' \d')))
#     except:
#         return 'Couldnt find a budget'
#     print(soup.find(text='Budget').next.li.text)



print(wiki_grab("Break Ke Baad 2010", '2010-11-05'))
print(wiki_grab("Aisha 2010", '2010-11-05'))

million (US$2.5 million) ₹180
4
crore (US$1.7 million) ₹12
2725935

In [244]:
# wikipedia search string 

# https://en.wikipedia.org/w/api.php?action=query&format=json&prop=&list=search&srsearch=127%20Hours%20movie

In [245]:
budget_dict = {}

for year, title in working_df_3g.index.values.tolist():
    print(title, year)
    budget_dict[title + ' ' + str(year)] = wiki_grab(title + ' ' + str(year), str(working_df_3g.loc[2010, '127 Hours']['release_date'].array[0])[:10])
    print(budget_dict[title + ' ' + str(year)])
#     except:
#         print(title)

* Cemetery 2010
None
127 Hours 2010
million $18
18000000
12th & Delaware 2010
None
13 2010
None
14 Blades 2010
million HK$20
2580196
15 Till Midnight 2010
None
2001 Maniacs: Field of Screams 2010
None
2012: Time for Change 2010
None
22 Bullets 2010
million $20
20000000
3 Backyards 2010
None
3 Magic Words 2010
None
4192: The Crowning of the Hit King 2010
None
80 Waves 2010
None
8: The Mormon Proposition 2010
million $2.5
2500000
A Christmas Snow 2010
None
A Course in Miracles: The Movie 2010
None
A Drummer's Dream 2010
None
A Film Unfinished 2010
None
A Haunting on Hamilton Street 2010
None
A Horrible Way to Die 2010
pee
75000
A Little Help 2010
None
A Marine Story 2010
None
A Nanny for Christmas 2010
None
A Nightmare on Elm Street 2010
million $35
35000000
A Numbers Game 2010
None
A Screaming Man 2010
million €2
2816800
A Small Act 2010
None
A Somewhat Gentle Man 2010
None
A Yakuza's Daughter Never Cries 2010
None
Absinthe 2010
None
Adventure Scouts 2010
None
Agnosia 2010
None
Aisha 2010
crore (US$1.7 million) ₹12
2725935
Aisha 2010
crore (US$1.7 million) ₹12
2725935
Alice in Murderland 2010
None
Alice in Wonderland 2010
million $200
200000000
Alice in Wonderland 2010
million $200
200000000
Alice in Wonderland 2010
million $200
200000000
Alice in Wonderland 2010
million $200
200000000
Alien Vengeance II: Rogue Element 2010
None
Alien vs. Ninja 2010
pee
600000
All About Evil 2010
None
All Alone 2010
None
All American Zombie Drugs 2010
None
All Boys 2010
None
All Good Things 2010
million $60
60000000
All I Ever Wanted: The Airborne Toxic Event Live from Walt Disney Concert Hall 2010
None
All My Friends Are Funeral Singers 2010
pee
30000
All That Glitters 2010
None
All That Glitters 2010
None
All That Glitters 2010
None
All That Glitters 2010
None
All That Glitters 2010
None
All That Glitters 2010
None
Alleged 2010
None
Almost Kings 2010
None
Alpha and Omega 2010
million $20
20000000
Altitude 2010
None
American Coup 2010
None
American Jihadist 2010
None
American Mystic 2010
None
Among Wolves 2010
None
An Acrid Yarn 2010
None
An Affirmative Act 2010
None
An Ecology of Mind 2010
None
An Invisible Sign 2010
None
Anaconda: Queen of the Serpents 2010
None
Anarchy in Zirmunai 2010
None
And Everything Is Going Fine 2010
None
And Soon the Darkness 2010
None
And, There You Are 2010
None
Anderson's Cross 2010
None
Angels Love Donuts 2010
None
Animal Kingdom 2010
million $5
5000000
Animals United 2010
None
Anjaana Anjaani 2010
million ₹380
8632129
Another Harvest Moon 2010
None
Another Year 2010
million $8
8000000
Anton Chekhov's The Duel 2010
None
Apart 2010
None
Arcadia Lost 2010
None
Armless 2010
None
Around the Country 2010
None
Arthur 3: The War of the Two Worlds 2010
million($91 million) €65
91
As Night Falls 2010
None
Ashes 2010
None
Ashes 2010
None
Atithi Tum Kab Jaoge? 2010
million ₹150
3407419
Atlantis Down 2010
None
Atomic Mom 2010
None
Attack of the Vegan Zombies! 2010
None
Audrey the Trainwreck 2010
None
Autopilot 2010
None
Autumn 2010
None
Babies 2010
None
Baby Jane? 2010
None
Bad Blood: A Cautionary Tale 2010
pee
300000
Bare Knuckles 2010
None
Barry Munday 2010
None
Bass Ackwards 2010
None
Bear 2010
million $10
10000000
Bear Nation 2010
None
BearCity 2010
None
Beatdown 2010
million $5.5
5500000
Beautiful Darling 2010
None
Beautiful Lies 2010
None
Bedrooms 2010
None
Beer Pong Saved My Life 2010
None
Behind the Burly Q 2010
None
Below the Beltway 2010
None
Beneath the Blue 2010
None
Beneath the Dark 2010
None
Bereavement 2010
million $2
2000000
Beware the Gonzo 2010
None
Beyond the Myth: A Film About Pit Bulls and Breed Discrimination 2010
None
Bhutto 2010
None
Bibliothèque Pascal 2010
None
Big Money Rustlas 2010
million $1.5
1500000
Big River 2010
None
Birdemic: Shock and Terror 2010
pee
10000
Bitter Feast 2010
None
Biutiful 2010
million $35
35000000
Black Butterfly 2010
None
Black Heaven 2010
None
Black Swan 2010
million $13
13000000
Blackmail Boys 2010
None
Blessed and Cursed 2010
None
Blood Done Sign My Name 2010
None
Blood Into Wine 2010
None
Blood Junkie 2010
pee
7000
Bloodworth 2010
None
Bloomington 2010
None
Blue Moon Rising 2010
None
Blue Valentine 2010
million $1
1000000
Bo 2010
None
Bold Native 2010
None
Bones 2010
None
Book Girl 2010
None
Born to Raise Hell 2010
million $10
10000000
Boxing Gym 2010
None
Boy Wonder 2010
None
Boys of Summer 2010
None
Break Ke Baad 2010
million (US$2.5 million) ₹180
4
Breaking Up Is Hard to Do 2010
None
Breaking Up Is Hard to Do 2010
None
Breaking the Press 2010
None
Bridge 2010
None
Broken Dreams 2010
None
Broken Hearts 2010
million $1
1000000
Brother 2010
None
Brother's Justice 2010
None
Brotherhood 2010
None
Brotherhood 2010
None
Brownian Movement 2010
None
Bruce Springsteen & the E Street Band Houston '78 Bootleg: House Cut 2010
None
Brutal Beauty: Tales of the Rose City Rollers 2010
None
Bulletface 2010
None
Bummer Summer 2010
million $20
20000000
Bunraku 2010
None
Buried 2010
million $2
2000000
Burlesque 2010
million $55
55000000
Burlesque 2010
million $55
55000000
Burlesque Undressed 2010
None
Burning Bright 2010
None
Burning Daylight 2010
None
Burning Palms 2010
million $5
5000000
Butterfly 2010
None
Butterfly Crush 2010
None
Ca$h 2010
None
Caged 2010
None
Camp Hell 2010
None
Camp Victory, Afghanistan 2010
None
Cane Toads: The Conquest 2010
None
Cash Crop 2010
None
Casino Jack 2010
million $12.5
12500000
Casino Jack and the United States of Money 2010
None
Caterpillar 2010
None
Catfish 2010
pee
30000
Cats & Dogs: The Revenge of Kitty Galore 2010
None
Caught Inside 2010
None
Caught in the Crossfire 2010
None
Cave of Forgotten Dreams 2010
None
Celine: Through the Eyes of the World 2010
None
Cemetery Junction 2010
None
Centurion 2010
million $12
12000000
Ceremony 2010
None
Chamaco 2010
None
Chance Pe Dance 2010
crore ₹29
6587677
Charlie St. Cloud 2010
million $44
44000000
Chasing 3000 2010
None
Chasing Legends 2010
None
Che: A New Man 2010
None
Cherry 2010
None
Chihuahua: The Movie 2010
million $20
20000000
Chosin 2010
None
Christina 2010
None
Christmas Mail 2010
None
Chronological Order 2010
None
Cinematic Titanic: The Alien Factor 2010
None
Circle 2010
None
Clash of the Titans 2010
million $125
125000000
Client 9: The Rise and Fall of Eliot Spitzer 2010
None
Climate Refugees 2010
None
Close Enemy 2010
None
Closed for the Season 2010
None
Cold Creepy Feeling 2010
None
Cold Fish 2010
None
Cold Water of the Sea 2010
None
Cold Weather 2010
None
Come Undone 2010
None
Confined 2010
None
Confucius 2010
None
Conned 2010
None
Consent 2010
None
Consinsual 2010
None
Conviction 2010
million $12.5
12500000
Cool It 2010
None
Cop Out 2010
million $30
30000000
Core 2010
million $85
85000000
Corruption.Gov 2010
None
Costa Rican Summer 2010
million (estimated) $2
2
Countdown to Zero 2010
None
Country Strong 2010
million $15
15000000
Crazy on the Outside 2010
None
Crossing Hennessy 2010
None
Cultures of Resistance 2010
None
Cup Cake 2010
None
Cupid's Arrow 2010
None
Cut Poison Burn 2010
None
Cyrus 2010
million $7
7000000
Cyrus 2010
million $7
7000000
DMT: The Spirit Molecule 2010
None
Daddy I Do 2010
None
Daddy's Home 2010
million $69
69000000
Dancing Across Borders 2010
None
Dark Metropolis 2010
None
Dark World 2010
million RUB 120

KeyError: '1'

In [41]:
budget_dict

{'* Cemetery 2010': None,
 '127 Hours 2010': None,
 '12th & Delaware 2010': None,
 '13 2010': None,
 '14 Blades 2010': None,
 '15 Till Midnight 2010': None,
 '2001 Maniacs: Field of Screams 2010': None,
 '2012: Time for Change 2010': None,
 '22 Bullets 2010': None,
 '3 Backyards 2010': None,
 '3 Magic Words 2010': None,
 '4192: The Crowning of the Hit King 2010': None,
 '80 Waves 2010': None,
 '8: The Mormon Proposition 2010': None,
 'A Christmas Snow 2010': None,
 'A Course in Miracles: The Movie 2010': None,
 "A Drummer's Dream 2010": None,
 'A Film Unfinished 2010': None,
 'A Haunting on Hamilton Street 2010': None,
 'A Horrible Way to Die 2010': None,
 'A Little Help 2010': None,
 'A Marine Story 2010': None,
 'A Nanny for Christmas 2010': None,
 'A Nightmare on Elm Street 2010': None,
 'A Numbers Game 2010': None,
 'A Screaming Man 2010': None,
 'A Small Act 2010': None,
 'A Somewhat Gentle Man 2010': None,
 "A Yakuza's Daughter Never Cries 2010": None,
 'Absinthe 2010': None,
 'Adventure Scouts 2010': None,
 'Agnosia 2010': None,
 'Aisha 2010': None,
 'Alice in Murderland 2010': None,
 'Alice in Wonderland 2010': None,
 'Alien Vengeance II: Rogue Element 2010': None,
 'Alien vs. Ninja 2010': None,
 'All About Evil 2010': None,
 'All Alone 2010': None,
 'All American Zombie Drugs 2010': None,
 'All Boys 2010': None,
 'All Good Things 2010': None,
 'All I Ever Wanted: The Airborne Toxic Event Live from Walt Disney Concert Hall 2010': None,
 'All My Friends Are Funeral Singers 2010': None,
 'All That Glitters 2010': None,
 'Alleged 2010': None,
 'Almost Kings 2010': None,
 'Alpha and Omega 2010': None,
 'Altitude 2010': None,
 'American Coup 2010': None,
 'American Jihadist 2010': None,
 'American Mystic 2010': None,
 'Among Wolves 2010': None,
 'An Acrid Yarn 2010': None,
 'An Affirmative Act 2010': None,
 'An Ecology of Mind 2010': None,
 'An Invisible Sign 2010': None,
 'Anaconda: Queen of the Serpents 2010': None}